.parent-child>button {
    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: rgba(44, 39, 39, 0.76);
    color: white;
    border-radius: 5px;
    font-size: 25px;
}

.parent-child>button:hover {
    cursor: pointer;
}

#style {
    background-color: rgb(131, 255, 255);
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}